@import "./../../styles/colors";

.footer {
  height: 185px;
  color: $primary-color1;
  background: url(../../assets/img/backgrounds/bg-footer-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2c4073;
}

.footer-inner {
  margin-top: 1rem;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
}

.year {
  font-size: 1.25rem;
  color: $primary-color1;
}
